{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="author_container" >
    <div class="divider"><span></span><span><h2>Author</h2></span><span></span></div>
    <div class="author-information">
    {% load avatar_tags %}
        <div class="author-detail-image">{% avatar author 150 %}</div>
        <div class="author-detail-name"><h1>{{ author.username }}</h1>
        <div class="author-detail-data">
               <p><b>Joined:</b><br/>
                   {{ author.date_joined|date:"d. N Y" }}
               <br/>
                   <b>Last login:</b><br/>
               {{ author.last_login|date:"d. N Y" }}
               </p>
    </div>
        </div>

</div>
    </div>

<div class="divider"><span></span><span><h2>Bots</h2></span><span></span></div>

<table id="author-bot_table" style="width: 88%">

    <thead>
        <th><b>Name</b></th>
        <th><b>Elo</b></th>
        <th><b>Type</b></th>
        <th><b>Race</b></th>
        <th><b>Active</b></th>
    </thead>
    {% for bot in bot_list %}
    <tr>
        <td>{{ bot.as_html_link |safe }}</td>
        <td>{{ bot.elo }}</td>
        <td>{{ bot.type }}</td>
        <td>{{ bot.get_plays_race_display }}</td>
        <td>{{ bot.active }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
